<section class="section">
  <div class="columns  is-centered">
    <div class="column is-one-quarter-fullhd is-one-third-widescreen is-half-tablet is-full-mobile">
      <div class="container">
        <div class="box">

          <app-date  (selectDate)="UpdateDate($event)"></app-date>
          <app-currency-dropdown (selectCurrency)="UpdateCurrency($event)" ></app-currency-dropdown>


          <div class="buttons is-right">
            <a data-role='button' class="button is-success" (click)="onButtonClick()">
              <span class="icon is-small">
                <i class="fas fa-check"></i>
              </span>
              <span>Get value</span>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>