<div class="field">
  <div class="control has-icons-left">
    <div class="select">
      <select (change)="currencyChanged($event)"> 
          <option [value]="i" *ngFor="let i of currencies">{{i}}</option>
      </select>
    </div>
    <div class="icon is-small is-left">
      <i class="fas fa-btc"></i>
    </div>
  </div>
</div>