﻿<head>
    <meta charset="utf-8">
    <title>JornDemoAngular</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        window.global = window;
    </script>

    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

</head>
<body>
    <app-root></app-root>
    <script src="~/src/runtime-es2015.js" type="module"></script>
    <script src="~/src/runtime-es5.js" nomodule defer></script>
    <script src="~/src/polyfills-es5.js" nomodule defer></script>
    <script src="~/src/polyfills-es2015.js" type="module"></script>
    <script src="~/src/styles-es2015.js" type="module"></script>
    <script src="~/src/styles-es5.js" nomodule defer></script>
    <script src="~/src/vendor-es2015.js" type="module"></script>
    <script src="~/src/vendor-es5.js" nomodule defer></script>
    <script src="~/src/main-es2015.js" type="module"></script>
    <script src="~/src/main-es5.js" nomodule defer></script>
</body>
