﻿@using JornDemo.Data;

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="~/lib/signalr/signalr.js" type="text/javascript"></script>
    <script src="~/js/SignalRInput.js" type="text/javascript"></script>
    <script src="~/js/InitCharts.js" type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

    <script type="text/javascript">
        $(document).ready(function () {
            $('#signalRElem').CurrencyElem();
            $('#chartContainer').InitCharts();
        });

    </script>
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Getting all stored currency values
                </h1>
                <h2 class="subtitle">
                    with jQuery
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="columns  is-centered">
            <div class="column is-one-quarter-fullhd is-one-third-widescreen is-half-tablet is-full-mobile">
                <div class="container" id="signalRElem">
                    <div class="box">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input data-role='date' type="date" class="input is-primary" placeholder="Historical date" />
                                <span class="icon is-small is-left">
                                    <i class="fas fa-calendar"></i>
                                </span>
                            </p>
                        </div>

                        <div class="field">
                            <div class="control has-icons-left">
                                <div class="select">
                                    <select data-role='valuta'></select>
                                </div>
                                <div class="icon is-small is-left">
                                    <i class="fas fa-btc"></i>
                                </div>
                            </div>
                        </div>

                        <div class="buttons is-right">
                            <a data-role='button' class="button is-success">
                                <span class="icon is-small">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span>Get value</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div id="chartContainer" class="columns is-multiline">

        </div>
    </section>

    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="~/js/ValutaChart.js"></script>
</body>
