<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Getting all stored currency values
            </h1>
            <h2 class="subtitle">
                with Angular
            </h2>
        </div>
    </div>
</section>
<app-input-section></app-input-section>
<section class="section">
<div id="chartContainer" class="columns is-multiline">
 
<app-currency-chart routerLink="/details/{{i}}" [name]="i" *ngFor="let i of currencyNames"></app-currency-chart>
</div>
</section>