<div class='column is-4'>{{name}}<h3 class='title is-3'></h3></div>
<div class='box ct-chart ct-perfect-fourth'>
  <x-chartist
  [type]="type"
  [data]="data"
  [options]="options"
></x-chartist>
</div>