<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Details {{ name }}
            </h1>
            
        </div>
    </div>
</section>
<section class="section">
<div id="chartContainer" >
<app-currency-chart [name]="name" type="Line" showAll="true"></app-currency-chart>
</div>
</section>