<div class="field">
    <p class="control has-icons-left">
        <input [(ngModel)]="currencyDate" type="date" class="input is-primary" placeholder="Historical date" (change)="dateChanged()"   />
        <span class="icon is-small is-left">
            <i class="fas fa-calendar"></i>
        </span>
    </p>
</div>